#1_TCP2CSV.json
[{"id":"a4be6ec6.88ce6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3c86f509.0210e2","type":"tcp in","z":"a4be6ec6.88ce6","name":"","server":"server","host":"","port":"51231","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":311.5,"y":257,"wires":[["1672b2ff.7ac325"]]},{"id":"130ec8f2.232f77","type":"file","z":"a4be6ec6.88ce6","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":826.5,"y":347,"wires":[[]]},{"id":"1672b2ff.7ac325","type":"function","z":"a4be6ec6.88ce6","name":"","func":"\nlet d = new Date();\nvar fullDate =  d.getFullYear().toString()+\"-\"+(d.getMonth()+1).toString()+\"-\"+d.getDate().toString().padStart(2, \"0\");;\nvar fullDateTime = fullDate + \" \" + d.getHours().toString() + \":\" + d.getMinutes().toString();\nvar csvFile = {a: fullDateTime, b: msg.payload};\n\nmsg.filename = fullDate+\".csv\";\nmsg.payload = csvFile;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":486.5,"y":369,"wires":[["931ba10d.c74f8"]]},{"id":"931ba10d.c74f8","type":"csv","z":"a4be6ec6.88ce6","name":"","sep":";","hdrin":"","hdrout":"","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"x":660.5,"y":369,"wires":[["130ec8f2.232f77","5ea51481.f9838c"]]},{"id":"5ea51481.f9838c","type":"debug","z":"a4be6ec6.88ce6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":480,"wires":[]}]